.v-item-group {
    &.v-btn-toggle {
        border-radius: 4px !important;
        
        .v-btn {
            background: transparent !important;
            border: none !important;
            margin: 0 !important;

            &:before {
                border: 1px solid currentColor !important;
                background-color: transparent !important;
                opacity: 0.3;
                border-radius: inherit;
            }

            &:not(:first-of-type) {
                margin-left: -1px !important;
            }

            &.v-btn--active {
                &:before {
                    border-width: 2px !important;
                    opacity: 1;
                }
            }
        }
    }
}