$body-font-family: 'Muli',
sans-serif;
$line-height-root: $ego-line-hight;
$headings: ('h1':('font-family': $body-font-family,
        'letter-spacing': $ego-default-letter-spacing,
        'size': #{30 / $ego-font-size}rem,
        'line-height': $ego-line-hight,
        'weight': 700),
    'h2':('font-family': $body-font-family,
        'letter-spacing': $ego-default-letter-spacing,
        'size': #{25 / $ego-font-size}rem,
        'line-height': $ego-line-hight,
        'weight': 700),
    'h3':('font-family': $body-font-family,
        'letter-spacing': $ego-default-letter-spacing,
        'size': #{20 / $ego-font-size}rem,
        'line-height': $ego-line-hight,
        'weight': 700),
    'h4':('font-family': $body-font-family,
        'letter-spacing': $ego-default-letter-spacing,
        'size': #{18 / $ego-font-size}rem,
        'line-height': $ego-line-hight,
        'weight': 700),
    'h5':('font-family': $body-font-family,
        'letter-spacing': $ego-default-letter-spacing,
        'size': #{16 / $ego-font-size}rem,
        'line-height': $ego-line-hight,
        'weight': 500),
    'h6':('font-family': $body-font-family,
        'letter-spacing': $ego-default-letter-spacing,
        'size': #{14 / $ego-font-size}rem,
        'line-height': $ego-line-hight,
        'weight': 500),
    'subtitle-1':('font-family': $body-font-family,
        'letter-spacing': $ego-default-letter-spacing,
        'size': #{16 / $ego-font-size}rem,
        'line-height': $ego-line-hight,
        'weight': 300),
    'subtitle-2':('font-family': $body-font-family,
        'letter-spacing': $ego-default-letter-spacing,
        'size': #{14 / $ego-font-size}rem,
        'line-height': $ego-line-hight,
        'weight': 300),
    'body-1':('font-family': $body-font-family,
        'letter-spacing': $ego-default-letter-spacing,
        'size': #{16 / $ego-font-size}rem,
        'line-height': $ego-line-hight,
        'weight': 300),
    'body-2':('font-family': $body-font-family,
        'letter-spacing': $ego-default-letter-spacing,
        'size': #{16 / $ego-font-size}rem,
        'line-height': $ego-line-hight,
        'weight': 500),
    'caption':('font-family': $body-font-family,
        'letter-spacing': $ego-default-letter-spacing,
        'size': #{12 / $ego-font-size}rem,
        'line-height': $ego-line-hight,
        'weight': 300),
    'overline':('font-family': $body-font-family,
        'letter-spacing': $ego-default-letter-spacing,
        'size': #{12 / $ego-font-size}rem,
        'line-height': $ego-line-hight,
        'weight': 700));